@import 'variables';

.container {
    min-width: $withFirst;
    margin: 0 auto;
}

.centered {
    margin: 0 auto;
    max-width: $withFirst;
}



.centeredHeader {
    height: 84px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

}

.logo {
    margin-left: 150px;
    margin-right: 170px;
    animation:anim 2s 1;

}

@keyframes anim {
    0%{
        transform: rotate(360deg) scale(0.5);
    }
}
    
    

form {
    position: relative;
    width: 434px;
    margin: 0 auto;

}


#text,
#submit {
    border: solid 1px #e1e1e1;
    box-sizing: border-box;

}

#text {
    width: 100%;
    height: 31px;
}

#submit {
    height: 31px;
    width: 31px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border-left: none;
    text-align: center;
    line-height: 31px;
}

.cart {
    margin-left: 155px;
}


.mainNav {
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.08);
    background-color: #4ccfc1;
}

.centeredMainNav {

    height: 36px;
    display: flex;
    flex-flow: row wrap;
    margin-left: 130px;
    align-items: center;

}

.centeredMainNav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 21px;
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid #ffffff;
    font-family: 'Bebas Neue'
}

.centeredMainNav a:hover {
    transform: scale(1.1);
}

.centeredMainNav a:last-child {
    border-right: none;
}

.banner {
    background: #3dc1b2;

}

.bannerMain {
    width: 100%;
    height: 445px;
    display: flex;
    flex-flow: row;
}

.bannerMain img {
    width: 278px;
    height: 325px;
    margin: 65px 0 0 205px;
}

.bannerText {
    display: flex;
    flex-flow: column;
    margin-left: 100px;
}


.bannerText h2 {
    display: inline-block;
    margin: 82px 0 25px 0;
    font-family: 'Bebas Neue';
    font-size: 61px;
    color: #ffffff;
    width: 305px;
    line-height: 0.89;


}

.bannerText p {
    font-size: 17px;
    color: #ffffff;
    font-family: 'Open Sans';
    width: 400px;
    margin: 0;

}


.bannerText button {
    width: 133px;
    height: 40px;
    border-radius: 5px;
    border: solid 3px #ffffff;
    background-color: #3dc1b2;
    color: #ffffff;
    font-size: 27px;
    font-family: 'Bebas Neue';
    line-height: 19px;
    margin-top: 30px;
}

.bannerText button:hover {
    transform: scale(1.1);
}


.shop {
    display: flex;
    flex-flow: row wrap;
    margin-left: 130px;

}



.shopItem {
    width: 290px;
    height: 151px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}




.shopItemText {
    width: 75px;
    font-size: 27px;
    font-family: 'Bebas Neue';
    line-height: 0.93;
    color: #afafaf;
    margin-bottom: 30px;
}


.button {
    width: 59px;
    height: 32px;
    border-radius: 3px;
    background-color: #3cc395;
    font-size: 19px;
    color: #ffffff;
    font-family: 'Bebas Neue';
    text-decoration: none;
    text-align: center;
    line-height: 32px;
}

.button:hover {
    transform: scale(1.2);
}



.category {
    background: #3dc1b2;
}


.categoryText {
    font-family: 'Bebas Neue';
    font-size: 31px;
    line-height: 0.81;
    color: #ffffff;

    padding: 24px 0 21px 185px;
}

.products {
    display: flex;
    flex-flow: row wrap;
}

.product {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 253px;
    height: 260px;
    border: 1px solid #e1e1e1;
    border-bottom: 5px solid #3cc395;
    margin-bottom: 50px;

}




.product:nth-child(3n+1) {
    margin-left: 190px;
}

.product figcaption {
    font-size: 27px;
    color: #afafaf;
    font-family: 'Bebas Neue';
    line-height: 0.93;
    display: block;
    width: 100%;
    text-align: center;
}

.price {
    font-size: 27px;
    font-family: 'Bebas Neue';
    line-height: 0.93;
    color: #afafaf;
    margin: 0;
}


.price__button_width {
    height: 34px;
    width: 74px;
    margin-left: 15px;
}


footer {
    background: #3dc1b2;
}


.mainFooter {
    display: flex;
    flex-flow: row;
    margin-left: 190px;
}

.footerItem {
    display: flex;
    flex-flow: column;
    margin-right: 110px;
}

.footerItem h2 {
    font-size: 27px;
    color: #ffffff;
    line-height: 0.93;
    font-family: 'Bebas Neue';
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
}


.footerNav {
    display: flex;
    flex-flow: column;
}

.footerNav a {
    text-decoration: none;
    font-size: 15px;
    line-height: 1.87;
    color: #ffffff;
    font-family: 'Open Sans';
}

.footerNav a:hover {
    transform: scale(1.1);
}


.footerCopyright {
    background-color: #2da89b;
}

.copyright {
    height: 46px;
    font-size: 15px;
    color: #ffffff;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 46px;
    letter-spacing: normal;
    text-align: center;
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : $withSecond) { 
    .container {
        margin: 0 auto;
        max-width: 1024px 
    }
    .centered {
        margin: 0 auto;
        max-width: 1024px 
    }

    .cart {
        margin-left: 100px; 
    }

    .centeredMainNav a {
        font-size: 17px;
    }

    .shopItem {
        width: 200px;
    }

    .product {
        margin: 16px 40px 50px 40px;
        @include with($withThird, 3, 80)
    }

 
  }


